{% extends "layout/layout.html" %}

{% block style %}
<style>
    .loginform {
        margin:  50px auto;
        max-width: 400px;
        border-radius: 5px;
        background-color: #f5f5f5;
        padding: 15px;
    }

    .loginform h3{
        margin-bottom: 20px;
    }
</style>
{% end %}
{% block content%}
      <form class="form-horizontal loginform" role="form" action='/m/account/forgot_password' method='post'>
        <h3>找回密码</h3>
        <div class="form-group">
          <label for="account-email" class="col-sm-2 control-label">账号</label>
          <div class="col-sm-10">
            <input type="text" id="account-email"
                   class="form-control" placeholder="账号" name='username'>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href='#' class="btn btn-primary pull-right" id='forget-pwd-btn'>提交</a>
          </div>
        </div>
      </form>
{% end %}

{% block javascript %}
    <script type="text/javascript">
      $(function(){
          $('#forget-pwd-btn').click(function(){
              var username = $('#account-email').val();

              if(username){
                  $.get('/m/account/forgot_password?username='+username,function(rs){
                      if(rs.status){
                          $.pnotify({
                            title: '成功',
                            text: '密码重置邮件已经发送到您的邮箱，点击邮件中的链接重置密码',
                            type: 'success'
                        });
                      }else if(rs.data == 'EXPIRED'){
                          $.pnotify({
                                title: '错误',
                                text: '邮件已经过期',
                                type: 'error'
                          });
                      }else{
                          $.pnotify({
                                title: '错误',
                                text: '重置密码失败，请稍后再试',
                                type: 'error'
                          });
                      }
                  })
              }else{
                  $.pnotify({
                        title: '错误',
                        text: '账号不能为空',
                        type: 'error'
                  });
              }
          });
      });
    </script>
{% end %}