{% extends "layout/layout.html" %}

{% block style %}
<style>
    .forgot-pwd-form {
        margin:  50px auto;
        max-width: 700px;
        border-radius: 5px;
        background-color: #f5f5f5;
        padding: 15px;
    }

    .forgot-pwd-form h3{
        margin-bottom: 20px;
        text-align: center;
    }

    label.error{
            color: red;
            display: inline;
        }
</style>
{% end %}
{% block content%}
      <form class="form-horizontal forgot-pwd-form" role="form" action='/m/account/reset_forgotten_password' method='post'>
        <h3>找回密码</h3>
          {% if key %}
          <input type="hidden" name="key" value="{{ key }}"/>
        <div class="form-group">
          <label for="new_password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-5">
            <input type="password" id="new_password"
                   class="form-control" placeholder="新密码" name='new_password'>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm_password" class="col-sm-3 control-label">确认密码</label>
          <div class="col-sm-5">
            <input type="password" id="confirm_password"
                   class="form-control" placeholder="确认密码" name='confirm_password'>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-12">
            <button type="submit" class="btn btn-primary" id='reset-pwd-btn'>提交</button>
          </div>
        </div>
          {% elif expired %}
          邮件已经过期，请 <a href="/forgot_password">重新提交</a> 密码重置申请
          {% else %}
          <div class="form-group">
          <label for="account-email" class="col-sm-2 control-label">邮箱</label>
          <div class="col-sm-10">
            <input type="text" id="account-email"
                   class="form-control" placeholder="邮箱" name='username'>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-12">
            <button type="button" class="btn btn-primary" id='forget-pwd-btn'>提交</button>
          </div>
        </div>
          {% end %}
      </form>
{% end %}

{% block javascript %}
    {% if key %}
    <script src="/static/js/libs/jquery.validate.min.js"></script>
    <script src="/static/js/libs/jquery.form.min.js"></script>
    <script>
        $(function(){
            $('.forgot-pwd-form').validate({
                rules: {
                    new_password: 'required',
                    confirm_password: {
                        required: true,
                        equalTo: "#new_password"
                    }
                },
                messages: {
                    new_password:'请输入新密码',
                    confirm_password: {
                        required: '请再次输入新密码',
                        equalTo: '两次输入的密码不一致'
                    }
                },
                errorPlacement: function(error, element) {
                      error.insertAfter(element.parent('div')).addClass('col-sm-4 help-block');
                },
                submitHandler: function(form){
                    $(form).ajaxSubmit(function(res){
                        if(res.status) {
                            $.pnotify({
                                title: '成功',
                                text: '密码修改成功',
                                type: 'success'
                            });
                        }else if(res.data == 'EXPIRED'){
                            $.pnotify({
                                title: '错误',
                                text: '权限已过期，请重新提交密码重置申请',
                                type: 'error'
                            });
                        }else{
                            $.pnotify({
                                title: '错误',
                                text: '密码重置失败',
                                type: 'error'
                            });
                        }
                    });
                }
            });
        });
    </script>
    {% elif not expired %}
    <script type="text/javascript">
      $(function(){
          $('#forget-pwd-btn').click(function(){
              var username = $('#account-email').val();
              if(username){
                  $.get('/m/account/forgot_password?username='+username,function(rs){
                      if(rs.status){
                          $.pnotify({
                            title: '成功',
                            text: '密码重置邮件已经发送到您的邮箱',
                            type: 'success'
                        });
                      }else if(rs.data == 'NO_EXIST'){
                          $.pnotify({
                                title: '错误',
                                text: '用户名不存在',
                                type: 'error'
                          });
                      }else{
                          $.pnotify({
                                title: '错误',
                                text: '重置密码失败，请稍后再试',
                                type: 'error'
                          });
                      }
                  })
              }else{
                  $.pnotify({
                        title: '错误',
                        text: '账号不能为空',
                        type: 'error'
                  });
              }
          });
      });
    </script>
    {% end %}
{% end %}