{% extends "layout/layout.html" %}
{% block style %}
    <style type="text/css">
        .bs-docs-sidenav {
            width: 258px;
        }
        .bs-docs-sidenav {
            background-color: #FFFFFF;
            border-radius: 6px 6px 6px 6px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
            padding: 0;
            width: 228px;
        }

        .bs-docs-sidenav > li:first-child > a {
            border-radius: 6px 6px 0 0;
        }
        .bs-docs-sidenav > li > a {
        }

        .bs-docs-sidenav > li > a {
            border: 1px solid #E5E5E5;
            display: block;
            margin: 0 0 -1px;
            padding: 8px 14px;
        }

        .bs-docs-sidenav .glyphicon {
          float: right;
        }

        #labels .label{ margin: 5px; padding: 5px 2px;}

        .nav-tabs {
          background: #dedede;
        }

        .tab-content {
          border: 1px solid #dddddd;
          border-top: 0px ;
          margin-bottom: 20px;
        }
        .tab-content ul{
            margin-left: 0px;
            padding: 5px;
        }
        .tab-content li { 
           list-style-type: none;
          line-height: 28px;
        }

        .newsitem { padding: 5px;}
        .comments {
          padding-left: 0px;
        }
    </style>
{% end %}

  {% block content %}
    <div class="row">
      <div class="col-md-9">
        <!-- hotnews start -->
        {% for item in news %}
           <div class='newsitem'>
              <strong><a href="/news/info/{{ item.get('_id')}}">{{ item.get('title')}}</a></strong>
              <p>{% raw item.get('intro','') %}</p>
              <p><a href="">{{ item.get("authorname")}}</a>发布于({{ item.get('addon')[0:19]}})</p>
           </div>
        {% end %}

      </div>

      <div class="col-md-3">
          <a href='/news/create'><span class="label label-info" style='padding:5px 10px; '>投递资讯</span></a>
          <h3>标签云</h3>
          <div class='row' id='labels'>
             
              {% for label in handler.labels %}
               <a href='/news/label?key={{ label.get("name")}}'>
                  <span class="label label-success col-md-3">{{ label.get('name')}}</span>
               </a>
               
              {% end %}
          </div>

          <h3>最新评论</h3>
          <div class='comments'>
            {% for c in handler.comments%}
               <div class='row'>
                  <strong><a href='/news/info/{{ c.get("news_id")}}'>{{ c.get('title')}}</a></strong>
                  <p>{{ c.get('body')}}</p>
                  <p>时间:{{ c.get('addon')}}</p>
               </div>
            {% end %}
          </div>
      </div>
    </div>


  {% end %}


    {% block javascript %}
    
    <script type="text/javascript">
      $(function(){
          $('.nav-tabs a:first').tab('show');
          $('.nav-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
          })

      });
    </script>
  {% end%}

