{% extends "layout/layout.html" %}
{% block title %}{{ info.get('title')}}{% end %}
{% block style %}
    <style type="text/css">
       .content p {
          line-height: 28px;
          text-indent: 28px;
       } 
       .tags {
          padding:5px; 
          line-height:30px;
          background-color: #eeeeee;
       }
       .tags span{
          margin-left: 10px; margin-right: 10px;
       }
    </style>
{% end %}

  {% block content %}
    <div class="row">
      <div class="col-md-9 content">
        <h4>{{ info.get('title')}} </h4>
        <div class='tags'>
          <strong>作者</strong> <span>{{ info.get('authorname')}}</span>
          <strong>分类</strong><a href='/news/{{ info.get("category")}}?'><span class='label label-info'> {{ info.get('categoryname')}}</span></a>
          <strong>标签：</strong>
          {% for l in info.get('labels')%}
          <a href='/news/label?key={{ l }}' title='{{ l }}'><span class='label label-success'>{{ l }}</span></a>
          {% end%}
        </div>
        {% raw info.get('body') %}
      </div>

      <div class="col-md-3">
          <h3>最新评论</h3>
          <div class='comments'>
            {% for i in range(5)%}
               <div class='newsitem'>
                  <strong><a href='#'>公告 资讯测试标题 {{ i }}</a></strong>
                  <p>Perl Audio Converter 5.0 稳定版发布了，包含一些代码优化和改变</p>
               </div>
            {% end %}

            <ul class="pager">
              <li class="previous"><a href="#">上一页</a></li>
              <li class="next"><a href="#">下一页</a></li>
            </ul>

            <form style='width:98%'>
                <div>
                <textarea style='width:98%' ></textarea></div>
                <div>
                <button stype='submit' >提交</button></div>
            </form>
          </div>
      </div>
    </div>


  {% end %}


    {% block javascript %}
    </div> <!-- /container -->
    <script type="text/javascript">
      $(function(){
          $('.nav-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
          })

      });
    </script>
  {% end%}

