{% extends "layout/layout.html" %}
{% block title %}{{ info.get('title')}}{% end %}
{% block style %}
    <style type="text/css">
       .content p {
          line-height: 28px;
          text-indent: 28px;
       } 
       .tags {
          padding:5px; 
          line-height:30px;
          background-color: #eeeeee;
       }
       .tags span{
          margin-left: 10px; margin-right: 10px;
       }
    </style>
{% end %}

  {% block content %}
    <div class="row">
      <div class="col-md-9 content">
        <h4>{{ info.get('title')}} </h4>
        <div class='tags'>
          <strong>作者</strong> <span>{{ info.get('authorname')}}</span>
          <strong>分类</strong><a href='/news/{{ info.get("category")}}?'><span class='label label-info'> {{ info.get('categoryname')}}</span></a>
          <strong>标签：</strong>
          {% for l in info.get('labels')%}
          <a href='/news/label?key={{ l }}' title='{{ l }}'><span class='label label-success'>{{ l }}</span></a>
          {% end%}
        </div>
        {% raw info.get('body') %}
      </div>

      <div class="col-md-3">
          <h3>最新评论</h3>
          <div class='comments'>

          </div>
          <ul class="pager">
            <li class="previous"><a href="#">上一页</a></li>
            <li class="next"><a href="#">下一页</a></li>
          </ul>

          <form style='width:98%' action='/m/comment/post' class='commentform' method='post'>
              <div>
                <input type='hidden' name='author' value='{{ handler.uid }}'>
                <input type='hidden' name='news_id' value='{{ info.get("_id")}}'>
                
                <textarea style='width:98%' name='body'></textarea></div>
              <div>
              <button stype='submit' >提交</button></div>
          </form>
      </div>
    </div>


  {% end %}


    {% block javascript %}
    </div> <!-- /container -->
    <script src="/static/js/libs/jquery.validate.min.js"></script>
    <script src="/static/js/libs/jquery.form.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })

        function loadcomment(since){
            var url = '/m/comment/list/{{ info.get("_id")}}';
            if(since){
                url = url + '?since='+since;        
            }

            var celm = $('.comments');
            $.get(url,function(rs){
                if(rs.status){
                    celm.find('.newsitem').remove();
                    $(rs.data).each(function(i,item){
                        var div = $('<div>').addClass('newsitem');
                        div.html(item.body);

                        celm.append(div);
                        celm.append($('<p>').html(item.addon));

                    })
                }
            })
        }

        loadcomment();
        

        $('.commentform').validate({
            rules: {
                body: 'required',
            },
            messages: {
                title: '评论内容不能为空',
            },
            errorPlacement: function(error, element) {
                  error.insertAfter(element.parent('div'));
              },
            submitHandler: function(form){
                $(form).ajaxSubmit(function(res){
                    if(res.status) {
                        $.pnotify({
                            title: '成功',
                            text: '评论成功',
                            type: 'success'
                        });
                        loadcomment();
                        $('.commentform textarea').val('');

                    }else {
                        $.pnotify({
                            title: '错误',
                            text: res.data,
                            type: 'error'
                        });
                    }
                });
            }
        });

      });
    </script>
  {% end%}

