{% extends "layout/layout.html" %}
{% block style %}
    <style type="text/css">
        .bs-docs-sidenav {
            width: 258px;
        }
        .bs-docs-sidenav {
            background-color: #FFFFFF;
            border-radius: 6px 6px 6px 6px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
            padding: 0;
            width: 228px;
        }

        .bs-docs-sidenav > li:first-child > a {
            border-radius: 6px 6px 0 0;
        }
        .bs-docs-sidenav > li > a {
        }

        .bs-docs-sidenav > li > a {
            border: 1px solid #E5E5E5;
            display: block;
            margin: 0 0 -1px;
            padding: 8px 14px;
        }

        .bs-docs-sidenav .glyphicon {
          float: right;
        }

        #labels .label{ margin: 5px; padding: 5px 2px;}

        .nav-tabs {
          background: #dedede;
        }

        .tab-content {
          border: 1px solid #dddddd;
          border-top: 0px ;
          margin-bottom: 20px;
        }
        .tab-content ul{
            margin-left: 0px;
            padding: 5px;
        }
        .tab-content li { 
           list-style-type: none;
          line-height: 28px;
        }

        .newsitem { padding: 5px;}
    </style>
{% end %}

  {% block content %}
    <div class="row">
      <div class="col-md-9">
        <!-- hotnews start -->
        <ul class="nav nav-tabs" id='hotnews'>
          <li class="active">
            <a href="#day">当天</a>
          </li>
          <li><a href="#week">一周</a></li>
          <li><a href="#month">本月</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="day">
            <ul>
                {% for item in handler.oneday %}
                    <li><a href="/news/info/{{ item.get('_id')}}">{{ item.get('title')}}</a></li>
                {% end %}
            </ul>
          </div>
          <div class="tab-pane" id="week">
            <ul>
                {% for item in handler.weeknews %}
                    <li><a href="/news/info/{{ item.get('_id')}}">{{ item.get('title')}}</a></li>
                {% end %}
            </ul>
          </div>
          <div class="tab-pane" id="month">
            <ul>
                {% for item in handler.monthnews %}
                    <li><a href="/news/info/{{ item.get('_id')}}">{{ item.get('title')}}</a></li>
                {% end %}
            </ul>
          </div>
        </div>
        <!-- hotnews end -->

        <!-- category news start -->
        <ul class="nav nav-tabs" id='categorynews'>
          {% for cate in handler.categorys %}
          <li><a href="#{{ cate.get('listname')}}">{{ cate.get('name')}} </a></li>
          {% end %}
        </ul>
        <div class="tab-content">
          {% for cate in handler.categorys %}
          <div class="tab-pane active" id="{{ cate.get('listname')}}">

            {% for item in handler.news.get(cate.get('listname')) %}
               <div class='newsitem'>
                  <strong><a href="/news/info/{{ item.get('_id')}}">{{ item.get('title')}}</a></strong>
                  <p>{% raw item.get('intro','') %}</p>
               </div>
            {% end %}

          </div>
          {% end %}

        </div>
        <!-- category end -->

      </div>

      <div class="col-md-3">
          <a href='/news/create'><span class="label label-info" style='padding:5px 10px; '>投递资讯</span></a>
          <h3>标签云</h3>
          <div class='row' id='labels'>
             
              {% for i in range(13) %}
               <a href='/news/label?key=xxx'>
                  <span class="label label-success col-md-3">标签{{ i }} </span>
               </a>
               
              {% end %}
          </div>

          <h3>最新评论</h3>
          <div class='comments'>
            {% for i in range(10)%}
               <div class='newsitem'>
                  <strong><a href='#'>公告 资讯测试标题 {{ i }}</a></strong>
                  <p>Perl Audio Converter 5.0 稳定版发布了，包含一些代码优化和改变</p>
               </div>
            {% end %}
          </div>
      </div>
    </div>


  {% end %}


    {% block javascript %}
    
    <script type="text/javascript">
      $(function(){
          $('.nav-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
          })

      });
    </script>
  {% end%}

