{% extends "layout/layout.html" %}
{% block title %}资讯投递{% end %}
{% block style %}    
    <style type="text/css">
       .content p {
          line-height: 28px;
          text-indent: 28px;
       } 
       .labels .label {
          margin: 5px;
          padding: 10px 3px;
       }
      #editor {
        max-height: 250px;
        height: 250px;
        background-color: white;
        border-collapse: separate; 
        border: 1px solid rgb(204, 204, 204); 
        padding: 4px; 
        box-sizing: content-box; 
        -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
        border-top-right-radius: 3px; border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; border-top-left-radius: 3px;
        overflow: scroll;
        outline: none;
      }

      div[data-role="editor-toolbar"] {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-top: 10px; 
        margin-bottom: 10px;
      }

      .dropdown-menu a {
        cursor: pointer;
      }


    </style>
{% end %}

  {% block content %}
    <div class="row">
      <div class="col-md-9">
        <h3>资讯投递</h3>
        <form class="form-horizontal" role="form" method='post'>
          <div class="form-group">
            <label for="title" class="col-sm-1 control-label">标题</label>
            <div class="col-sm-11">
              <input type="text" name='title' class="form-control" placeholder="标题">
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-sm-1 control-label">分类</label>
            <div class="col-sm-11 labels categorys">
              <input type='hidden' name='category' id='tvcategory'>
              <input type='hidden' name='author' value='{{ handler.uid }}'>
              {% for cate in handler.categorys %}
              <span class="label label-info col-md-2" value='{{ cate["listname"] }}'>{{ cate['name'] }}</span>
              {% end %}
            </div>
          </div>

          <div class="form-group">
            <label for="labels" class="col-sm-1 control-label">标签</label>
            <div class="col-sm-3">
              <input type="text" class="form-control typeahead" name='labels' autocomplete="off">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control typeahead" name='labels' autocomplete="off">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control typeahead" name='labels' autocomplete="off">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
              <!--
              <textarea style='width:98%; height:350px;'></textarea>-->
              {% include editor.html %}
            </div>
          </div>



          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
              <button type="submit" class="btn btn-default">发表</button>
            </div>
          </div>
        </form>





      </div>

      <div class="col-md-3">
          <h3>投递提示</h3>
      </div>
    
  {% end %}

    {% block javascript %}
    <script src="/static/js/bootstrap.typeahead.ajax.js"></script>
    <script src="http://www.bootcss.com/p/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="https://mindmup.s3.amazonaws.com/lib/jquery.hotkeys.js"></script>
    <script type="text/javascript">
      $(function(){
          $('.categorys .label').click(function(){
              $('.categorys .label').removeClass('label-success');
              $('.categorys .label').addClass('label-info');
              $(this).toggleClass('label-info label-success');
              $('#tvcategory').val($(this).attr('value'));
          })

          $('.typeahead').typeahead({
              items:6,
              ajax:{
                triggerLength:1,
                url:'/m/label/suggest/0',
                preProcess:function(rs){
                  console.log(rs);
                  return rs.data;
                }
              }
            })


        function initToolbarBootstrapBindings() {
          var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
                'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                'Times New Roman', 'Verdana'],
                fontTarget = $('[title=Font]').siblings('.dropdown-menu');
          $.each(fonts, function (idx, fontName) {
              fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
          });
          $('a[title]').tooltip({container:'body'});
          $('.dropdown-menu input').click(function() {return false;})
            .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
            .keydown('esc', function () {this.value='';$(this).change();});

          $('[data-role=magic-overlay]').each(function () { 
            var overlay = $(this), target = $(overlay.data('target')); 
            overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
          });
          $('#voiceBtn').hide();
          // if ("onwebkitspeechchange"  in document.createElement("input")) {
          //   var editorOffset = $('#editor').offset();
          //   $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
          // } else {
          //   $('#voiceBtn').hide();
          // }
        };
        initToolbarBootstrapBindings();  
        $('#editor').wysiwyg();
          
      });
    </script>
  {% end%}

