{% extends "layout/profile_base.html" %}
{% block form_content %}
        <form class="form-horizontal loginform" role="form" action='/m/account/login' method='post'>
          <h3>个人信息  <small>--{{ handler.nickname }}</small></h3>
          <hr>
          <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">呢称</label>
            <div class="col-sm-5">
              <input type="text" id="nickname" class="form-control" placeholder="呢称" name='nickname' >
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <label for="mobile" class="col-sm-2 control-label">手机</label>
            <div class="col-sm-5">
              <input type="text" id="mobile" class="form-control" placeholder="手机" name='mobile' >
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <label for="sl_cityparent" class="col-sm-2 control-label">城市</label>
            <div class="col-sm-4">
              <select class="form-control" id='sl_cityparent'>
              </select>
            </div>
            <div class="col-sm-4">
              <select class="form-control" id='sl_city'>

              </select>
            </div>
            <label  class="col-sm-2 "></label>
          </div>
          <div class="form-group">
            <label for="intro" class="col-sm-2 control-label">简介</label>
            <div class="col-sm-5">
              <textarea class="form-control" id="intro" placeholder="简介" name='intro'></textarea>
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href='#' class="btn btn-primary" id='loginbtn'>修改</a>
            </div>
          </div>
        </form>
{% end %}