{% extends "layout/profile_base.html" %}
{% block form_content %}
        <form class="form-horizontal loginform" role="form" action='/m/account/update' method='post'>
          <h3>个人信息  <small>--{{ handler.nickname }}</small></h3>
          <hr>
          <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">呢称</label>
            <div class="col-sm-5">
              <input type="text" id="nickname" class="form-control" placeholder="呢称" name='nickname' >
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <label for="mobile" class="col-sm-2 control-label">手机</label>
            <div class="col-sm-5">
              <input type="text" id="mobile" class="form-control" placeholder="手机" name='mobile' >
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <label for="sl_cityparent" class="col-sm-2 control-label">城市</label>
            <div class="col-sm-4">
              <select class="form-control" id='sl_cityparent'>
              </select>
            </div>
            <div class="col-sm-4">
              <select class="form-control" id='sl_city'>

              </select>
            </div>
            <label  class="col-sm-2 "></label>
          </div>
          <div class="form-group">
            <label for="profession" class="col-sm-2 control-label">职业</label>
            <div class="col-sm-3">
              <input type="text"  class="form-control typeahead-profession"  name='profession' autocomplete="off">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control typeahead-profession" name='profession' autocomplete="off">
            </div>
            <label  class="col-sm-4 "></label>
          </div>

          <div class="form-group">
            <label for="skill" class="col-sm-2 control-label">技能</label>
            <div class="col-sm-3">
              <input type="text"  class="form-control typeahead-skill"  name='skill' autocomplete="off">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control typeahead-skill" name='skill' autocomplete="off">
            </div>
            <label  class="col-sm-4 "></label>
          </div>

          <div class="form-group">
            <label for="labels" class="col-sm-2 control-label">个人标签</label>
            <div class="col-sm-3">
              <input type="text"  class="form-control typeahead-labels"  name='labels' autocomplete="off">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control typeahead-labels" name='labels' autocomplete="off">
            </div>
            <label  class="col-sm-4 "></label>
          </div>

          <div class="form-group">
            <label for="intro" class="col-sm-2 control-label">简介</label>
            <div class="col-sm-5">
              <textarea class="form-control" id="intro" placeholder="简介" name='intro'></textarea>
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href='#' class="btn btn-primary" id='loginbtn'>修改</a>
            </div>
          </div>
        </form>
{% end %}


        {% block javascript %}
    <script src="/static/js/bootstrap.typeahead.ajax.js"></script>
    <script type="text/javascript">
      $(function(){
          $('.bs-docs-sidenav li').eq(0).addClass('active').siblings('li').removeClass('active');
          function loadselect(sel,parent){
            var url = '/m/city/list';
            if(parent){
                url = url +"/"+parent;
            }

            sel.find('option').remove();
            $.get(url,function(rs){
                if(rs.status){
                    $(rs.data).each(function(i,item){
                        var opt = $('<option>').attr('value',item._id).html(item.name);
                        sel.append(opt);
                    })

                    if(!parent){
                      loadselect($('#sl_city'),rs.data[0]._id);
                    }
                }
            })


          }

          loadselect($('#sl_cityparent'));
          $('#sl_cityparent').change(function(){
              loadselect($('#sl_city'),$(this).val());
          })

          $('.typeahead-profession').typeahead({
              items:6,
              ajax:{
                triggerLength:1,
                url:'/m/label/suggest/0',
                preProcess:function(rs){
                  console.log(rs);
                  return rs.data;
                }
              }
            })

          $('.typeahead-skill').typeahead({
              items:6,
              ajax:{
                triggerLength:1,
                url:'/m/label/suggest/1',
                preProcess:function(rs){
                  console.log(rs);
                  return rs.data;
                }
              }
            })

          $('.typeahead-labels').typeahead({
              items:6,
              ajax:{
                triggerLength:1,
                url:'/m/label/suggest/2',
                preProcess:function(rs){
                  console.log(rs);
                  return rs.data;
                }
              }
            })

      });
    </script>
  {% end%}
