{% extends "layout/profile_base.html" %}
{% block form_content %}
        <form class="form-horizontal loginform" role="form" action='/m/account/resetpwd' method='post'>
          <h3>账号安全  <small>--{{ handler.nickname }}</small></h3>
          <hr>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">原始密码</label>
            <div class="col-sm-5">
              <input type="text" id="password" class="form-control" placeholder="原始密码" name='password' >
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <label for="new_password" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-5">
              <input type="text" id="new_password" class="form-control" placeholder="新密码" name='new_password' >
            </div>
            <label  class="col-sm-6 "></label>
          </div>

          <div class="form-group">
            <label for="confirm_password" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-5">
              <input type="text" id="confirm_password" class="form-control" placeholder="确认密码" name='confirm_password' >
            </div>
            <label  class="col-sm-5 "></label>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href='#' class="btn btn-primary" id='loginbtn'>修改</a>
            </div>
          </div>
        </form>
{% end %}

        {% block javascript %}
            <script>
                $('.bs-docs-sidenav li').eq(1).addClass('active').siblings('li').removeClass('active');
            </script>
        {% end %}