/* 子页顶部样式 */
.logo-title {
  margin-top: 3px;
}
.logo-title a{
  color: #010101;
  text-decoration: none;
}
.logo-title a:hover{
  color: #428BCA;
}
.logo-title{
    margin: 0;
}

.nav-list li.active a , .nav-list li.active a:hover{
    background-color: #0088cc;
    color: #ffffff;
}