{% extends "_base.html" %}
{% block style %}
<link rel="stylesheet" href="/static/metro/css/frm.css" />
<style type="text/css">
.modal-header .nav-tabs{
	position: static;
}
</style>
{% end %}
{% block breadcrumb%}
<li >城区管理</li>
<li class="active">编辑城区</li>
{% end %}
{% block maincontent %}
<div class="space-12"></div>
<div class="row">
	<div class="col-xs-10">
		<form class="form-horizontal validform" role="form" method='post'>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" > 城区名称</label>
				<div class="col-sm-9">
					<input type='hidden' name='_id' value="{{ info.get('_id','')}}">
					<input type="text" name='name' placeholder="城区名称" class="col-xs-10 col-sm-5" datatype="s2-20" value='{{ info.get("name",'')}}' />
				</div>
			</div>
			<div class="space-4"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" > 域名</label>
				<div class="col-sm-9">
					<input type="text" name='listname' placeholder="域名" class="col-xs-10 col-sm-5" datatype="s0-0|s2-20" value='{{ info.get("listname",'')}}' />
				</div>
			</div>
			<div class="space-4"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" > 图标</label>
				<div class="col-sm-9">
		          	<div data-toggle="modal" id='imgbox' data-target="#filemodel">
		          		<img src="{{ info.get('coverThumbnail','')}}" style='width:100px; height:100px; border:1px solid #ccc' >
						<input type="text" name='cover' class="hide"  id="cover" readonly value="{{ info.get('cover','')}}"/>
						<input type="text" name='coverThumbnail' id="coverThumbnail" class="hide"  readonly/ value="{{ info.get('coverThumbnail','')}}">
		          	</div>
					<button class="btn btn-app btn-purple btn-sm hide" >
						<i class="icon-cloud-upload bigger-200"></i>选择</button>

				</div>
			</div>
			<div class="space-4"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" > 描述</label>
				<div class="col-sm-9">
					<textarea name='intro' class="KindEditor col-xs-10 col-sm-5">{{ info.get('intro','') or ''}}</textarea>
				</div>
			</div>
			<div class="space-4"></div>
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="submit">
						<i class="icon-ok bigger-110"></i>
						保存
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="icon-undo bigger-110"></i>
						重置
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<form id='upload-form' action="/admin/file/upload?ftype=image" class="form-horizontal" method="POST" enctype="multipart/form-data" target="upload-iframe">
<div class="modal fade" id='filemodel' tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header no-border">
      	<button type="button" class="close" data-dismiss="modal" >×</button>
		<ul class="nav nav-tabs" >
			<li class="active">
				<a data-toggle="tab" href="#list">
					<i class="green icon-home bigger-110"></i>图片列表
				</a>
			</li>
			<li>
				<a data-toggle="tab" href="#upload">
					<i class="green icon-cloud-upload bigger-110"></i>上传
				</a>
			</li>
		</ul>
		
      </div>
      <div class="modal-body widget-main">
		<div class="tab-content">
			<div id="list" class="tab-pane active row">
		        
			</div>

			<div id="upload" class="tab-pane ">
		        <div class="control-group">
		          <label class="control-label" for="imgFile">选择图片</label>
		          <div class="controls">
		            <input type="file" name="mfile" />
		          </div>
		        </div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
	    <div class="pull-left">
	    	<ul class="pagination pagination-sm footer_page"></ul>
	    </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
<iframe id="upload-iframe" name="upload-iframe" class="hide"></iframe>

{% end %}
{% block script %}
<link rel="stylesheet" href="/static/editor/themes/default/default.css" />
<script charset="utf-8" src="/static/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="/static/editor/lang/zh_CN.js"></script>

<script src="/static/metro/js/validform_v5.3.1.js"></script>
<script type="text/javascript">
$(function(){
	select_nav('areasave');

    $(".validform").Validform({
		ajaxPost:true,
		callback:function(rs){
			if(rs.status){
				location.href='/admin/area/list';
			}
		},
        tiptype:function(msg,o,cssctl){
        	var objtip=o.obj.next('.Validform_checktip');
			if($(objtip).size()==0){
					objtip = $('<label>').addClass('Validform_checktip');
					o.obj.after(objtip)
			}
			if(!(o.type == 2)){
				if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
					objtip.text(msg).show();
				}
			}else{
				o.obj.next('.Validform_checktip').hide();
			}
		},
		beforeSubmit:function(curform){
			$('.KindEditor').html(editor.html());
			return true;
		}
    });



	 var loadImgGrid = function(page) {
	    var params = {format: 'json', view: 'grid', dir: "image", limit: 10};
	    if (page != undefined) {
	      params.page = page;
	    }
	    var url = '/admin/files/image/?' + $.param(params);
	    console.log(url);
	    var pane = $("#filemodel");
	    console.log(url);
	    $.getJSON(url, function(data){
			var grid = pane.find('#list');
			var pagination = pane.find('.pagination');
			grid.html(data.grid);

			$('.thumbnail img').on('click',function(e){
					$('#imgbox img').attr('src',$(this).attr('src'));
					$('#cover').attr('value',$(this).attr('alt'));
					$('#coverThumbnail').attr('value',$(this).attr('src'));
					$('#filemodel').modal('hide');
			})

			pagination.html(data.pagniation);

			$('.pagination a').on('click',function(e){
				loadImgGrid($(this).attr('data-page'));
			})
	    });
	  };

	loadImgGrid(0);

  $('#upload-iframe').load(function(){
  // upload done
    var response = $('#upload-iframe').contents().find('pre').text();
    var data = $.parseJSON(response);
    if (data.error === 1) {
      alert(data.message); 
    } else {
      $("#cover").val(data.url);
      $('#coverThumbnail').attr('value',data.thumbnail);
      $('#cover').attr('value',data.url);
      $('#cover').parent().find("img").removeClass('hide').attr('src', data.thumbnail);
      $('#cover').parent().find("span.btn").addClass('hide');
      $('#filemodel').modal('hide');
      loadImgGrid(1);
    }
  });

})
</script>
{% end %}
